.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




.navbar{
font-family: 'Rye', cursive;
font-style: normal;

color: #FFFFFF;

border: 3px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-wrapper {
  position: relative;
  background-image: url(beverage-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}





